body {
background-color: #f2f2f2;
}
ul {
  list-style: none;
  padding: 0;
} 
li {
  display: inline-block;
  margin-left: 20px;
  font-family: "Trirong", serif;
}
a {
  display: inline-block;
}

.conteiner {
  max-width: 1500px;
}

.header-conteiner {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 1400px;
}
.mobilesearch {
  display: none;
}
.hbutton {
  background-color: #29b24e;
  border-radius: 5px;
  border: none;
  color: white;
  height: 40px;
  width: 160px;
}
.mainpage {
  display: flex;
  justify-content: space-between;
}
.location {
  margin: 5px 20px;
}

.conteiner-forms P {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
.city {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border-color: #0d9ca436;
}
.conteiner-forms {
  margin-top: 20px;
  width: 370px;
  background-color: #f8f8f8;
  border-radius: 10px;
  margin-left: 50px;
  font-family: " Oswald, sans-serif";
  display: flex;
  flex-direction: column;
}
.property {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}
.pricerange {
  margin: 5px 20px;
}
.fonts {
  color: gray;
}
.list-group-item {
  border: none;
}
.mainphoto {
  margin-top: 20px;
  max-width: 1050px;
  display: inline-block;
  position: relative;
}
.mainimg {
  max-width: 100%;
  position: relative;
}
.main-absolute {
  position: absolute;
  top: 10%;
  left: 25%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.search {
  position: relative;
  border-radius: 10px;
}
.search-conteiner span {
  position: absolute;
  bottom: 4px;
  right: 190px;
}
.cardtitle {
  margin: 30px;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1450px;
  margin: 0 auto;
  gap: 22px;
}
.card {
  max-width: 345px;
  border: none;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: 0px 6px #c2c2c24d;
  margin-top: 20px;
}
.card:hover {
  transition: 2s ease;
  transform: scale(1.2);
}
.cardcomponents {
  max-width: 90%;
  margin: 0 auto;
}
.card img {
  max-width: 100%;
  margin: 10px auto;
  position: relative;
}
.vip {
  position: absolute;
  top: 5%;
  left: 8%;
  background-color: #29b24e;
  border-radius: 15px;
  color: white;
  font-size: 10px;
  width: 60px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.homesize {
  display: flex;
  justify-content: space-between;
}
.card p {
  color: #29b24e;
  font-size: 15px;
}
.price {
  display: flex;
  justify-content: end;
}
.dolars {
  font-size: 25px;
  color: #29b24e;
  transform: translate(0px, -10px);
}
footer {
  max-width: 100%;
  background-color: #29b24e;
  height: 200px;
  border-radius: 20px;
  margin-top: 70px;
}
.footerbar {
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  color: #ffffff;
  align-items: center;
}
.lastline {
  color: white;
  justify-content: center;
  display: flex;
}
.mobilenav {
  display: none;
}
 Resetcss * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}


Reponsivecss @media (max-width: 768px) {
  header nav {
    display: none;
  }
  .header-button {
    display: none;
  }
  .header-conteiner {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
  }
  .mobilesearch {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #f8f8f8;
    border-radius: 50px;
  }
  .material-symbols-outlined {
    transform: translate(1px, 15px);
  }

  .search-conteiner {
    display: none;
  }
  header img {
    max-width: 90%;
  }
  .mainimg {
    max-width: 100%;
    height: 500px;
  }
  .mainpage {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .main-absolute {
    font-size: 20px;
    left: 10%;
  }
  .main-absolute p {
    font-size: 17px;
  }
  .mainphoto {
    width: 90%;
    margin: 0 auto;
  }
  .conteiner-forms {
    width: 100%;
    margin: 0 auto;
  }
  .card {
    width: 100%;
    margin: 0 auto;
  }
  .support {
    display: none;
  }
  .footerbar {
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .footerbar ul {
    display: flex;
    flex-direction: column;
  }
  .footernav {
    margin-left: none;
  }
  .mobilenav {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: 70px;
    flex-wrap: wrap;
  }
  .mobilenav img {
    display: block;
    padding-left: 10px;
  }
  .mobilenav {
    background-color: #ffffff;

    border-radius: 20px;
    border-bottom: none;
  }
  .greenbox {
    font-size: 50px;
    height: 50px;
    background-color: #29b24e;
    color: white;
    border-radius: 10px;
    display: inline-block;
    width: 50px;
    padding: 10px;
    margin: -20px 10px;
  }
  .plus {
    transform: translate(-3px, -25px);
  }
  .sell {
    transform: translate(20px, -20px);
  }
}

